@import "../global/utilities.scss";

.heroMain{
  max-width: 1980px;
  max-height: 1080px;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}
.heroLogoContainer{
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
  h1{
    font-size: 13rem;
    height: 16rem;
  }
  p{
    font-size: 3rem;
  }
}
