@import "../global/utilities.scss";

.heroMain{
    max-width: 1980px;
    max-height: 1080px;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    background-image: url("/background.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.heroLogoContainer{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6rem;
    color: white;
    h1{
        font-size: 13rem;
        height: 16rem;
        text-shadow: 0 15.833px 15.833px rgba(0, 0, 0, 0.25);
    }
    p{
        font-size: 3rem;
        text-shadow: 0 15.833px 15.833px rgba(0, 0, 0, 0.25);
    }
}

.heroTreeContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    div{
        width: fit-content;
        height: fit-content;
        display: block;
    }
}
