@import "../global/utilities.scss";

.main{
  background: radial-gradient(60.71% 81.83% at 69.69% 48.39%, rgba(79, 119, 45, 0) 0%, rgba(79, 119, 45, 0.3) 100%);
  max-width: 1980px;
  max-height: 1080px;
  width: 100vw;
  height: 100vh;
}
.tabContainer{
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
.tabContainer h3{
  margin-left: 2rem;
  margin-top: 1.5rem;
}
.tabImages{
  position: relative;
  width: 8rem;
}
.tabImage{
  position: absolute;
}
.tabIconContainer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}
.tabIcon{
  width: 3.4rem;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.collectionContainer{
  height: 40rem;
  width: 30rem;
  position: relative;
}
.collectionImage{
  position: absolute;
  z-index: 0;
}
.collectionContainerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 26.7rem;
  border-bottom: $greenLine 4px solid;
  z-index: 5;
  position: absolute;
}
.namesContainer{
  margin-top: 3rem;
  height: 27rem;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2rem;
}
.treeName:hover{
  border-left: $buttonGray 2px solid;
  z-index: 6;
}
.treeName{
  padding-left: 0.3rem;
}
.treeNameActive{
  border-left: $buttonGray 2px solid;
  padding-left: 0.3rem;
  z-index: 6;
}
.foundsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  height: 2rem;
  background-color: $buttonGray;
  color: white;
  border: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}