@import "../global/utilities";

.nav{
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: auto;
  align-items: center;
  width: auto;
}

.categoryContainer{
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.categoryContainer div {
  display: inline-block;
  padding: 0px 1.6rem;
  //font-weight: bold;
}

.logoContainer{
  width: 10rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: -2rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.logoTitle{
  margin-left: 1rem;
}
.routerAccount{
  //width: 2rem;
  //height: 2rem;
  display: flex;
  //justify-content: center;
  //align-items: center;
  transistion: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding-top: 2.3rem;
}
.accountIcon{
  font-size: 2rem;
  padding-top: 2rem;

}
.routerAccount:hover{
  font-size: 3rem;
}
