.metaMaskButton{
  border: #e97910 3px solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  width: 10rem;
  height: 2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}
.metaMaskimage{
  width: 2rem;
  height: 1.4rem;
  float: right;
}