.footer{
	width: 100%;
	height: 8rem;
	background: #F4F5F2;
	color: #4A4A4A;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 3rem;
	h3{
		margin: 0.2rem 0;
	}
	p:last-of-type:hover{
		cursor: pointer;
	}
}
