@import "utilities.css";

.navWrapper{
  background: transparent;
  height: 5rem;
}

.nav{
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background: transparent;
  position: fixed;
  z-index: 10;
  font-family: Poppins, Segoe UI, Calibri, serif;
}

.navScrolled{
  background: white;
}

.logoContainer{
  width: 250px;
  height: auto;
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-left: 1.4rem;
}

.logoTitle{
  font-size: 1.8rem;
  text-shadow: 0px 2.40409px 2.40409px rgba(0, 0, 0, 0.25);
}
.categoryContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1.3rem;
  font-size: 1.25rem;
  font-weight: 600;

  div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    cursor: pointer;
  }
  div:hover{
    font-size: 1.30rem;
    transition: all 0.3s ease 0s;
  }
  .AccountIcon{
    width: 100px;
    height: 50px;
    font-size: 2.3rem;
  }
  .AccountIcon:hover{
    font-size: 2.5rem ;
  }
}
