@import "../global/utilities";

.main{
  background: radial-gradient(60.71% 81.83% at 69.69% 48.39%, rgba(79, 119, 45, 0) 0%, rgba(79, 119, 45, 0.3) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column
}

.sectionName{
  width: 100%;
  height:4.6rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.foundsContainer{
  display: flex;
  justify-content: start;
  align-items: center;
  height:4.6rem;
}

.founds{
  background-color: #4F772D;
  height:4.6rem;
  width: 350px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1;
  h2{
    color: white;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 1.8rem;

  }
}

.dop{
  background-image: url('/dop.svg');
  height:4.6rem;
  width: 50px;
  margin-left: -0.3rem;
  background-repeat: no-repeat;
}

.image{
  height:4.6rem;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.collectionContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29%;
}

.collectionList{
  background-color: white;
  height: 35rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem ;
}

.collectionTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 80%;
  border-bottom: black 3px solid;
  margin-top: 0.5rem;
  h3{
    font-weight: bold;
  }
}

.list{
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.collectionTree{
  border: #44521B 2px solid;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 2rem;
  margin-top: 1rem;
  p{
    font-weight: 600;
  }
}

.collectionTree:hover{
  background-color: #44521B;
  color: white;
  transition: all 0.3s ease 0s;
}

.dopu{
  background-image: url('/dopUser.svg');
  background-repeat: no-repeat;
  height: 35rem;
  width: 4rem;
}

.treeContainer{
  width: 71%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.namesContainer{
  margin-top: 3rem;
  height: 27rem;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2rem;
}

.treeName:hover{
  border-left: $buttonGray 2px solid;
  z-index: 6;
}

.treeName{
  padding-left: 0.3rem;
}

.treeNameActive{
  border-left: $buttonGray 2px solid;
  padding-left: 0.3rem;
  z-index: 6;
}

.button{
  height: 2rem;
  background-color: $buttonGray;
  color: white;
  border: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sellForm{
  margin-top: 31rem;
}

@media (max-width: 900px) {
  .founds{
    width: 20rem;
  }

  .dop{
    margin-left: -0.5rem;
  }

  .collectionContainer{
    width: 100%;
  }

  .collectionList{
    width: 100%;
    height: 40vh;
  }

  .container{
    flex-direction: column-reverse;
  }
}


